
  
  .txt-ombre{
	  text-shadow: 0px 1px 2px #222;
  }
  	
a {
	text-decoration:none;	
	}
		
		
  .cta {
  float: center;  margin-left: auto;
  margin-right: auto;
	max-width: 50%;
	text-align: center;
	height:auto;
	background-color: #14EEDD;
  border:1px solid #14EEDD;
  }
  
  	.cta  a{
	color: white;
}
		.cta:hover{
	background-color: #EF62B3;
	border:1px solid #EF62B3;
}
	
h1 { color: black;
font-family: sans-serif;
font-size: 1.8em;
text-align: left;
margin-top: 0;
margin-bottom: 0;
text-decoration: none;}

h2 { color: #14EEDD;
font-family: 'Oswald', sans-serif;;
font-size: 1.4em;
text-align: left;
margin-top: 0;
margin-bottom: 0;
text-decoration: none;}

h3 { color: black;
font-family: sans-serif;
font-size: 1em;
text-align: left;
margin-top: 0;
margin-bottom: 0;
text-decoration: none;}

h4 { color: black;
font-family: sans-serif;
font-size: 0.8em;
text-align: left;
margin-top: 0;
margin-bottom: 0;
text-decoration: none;}


footer{
color: white;

font-family: sans-serif;
font-size: 0.7em;
text-align: left;
padding-top:1em;
padding-bottom:1em;
max-width: 100%; float: center;  margin-left: auto;  margin-right: auto;
  margin-top:auto;
  clear: both;
  }

.header_orga {	display:flex;  flex-direction: row; flex-wrap : wrap; justify-content: flex-start; align-items: center; margin-top: 0; max-width:100%; float: center;  margin-left: auto;
  margin-right: auto; float: center;  margin-left: auto;}

  .header_text {	max-width: 400px; float: center;  margin-left: auto; margin-right: auto; margin-top: 10px;
}
  
.footer_orga {	background-color: #00151a; display:flex;  flex-direction: row; flex-wrap : wrap; justify-content: center; align-items: center; margin-top: 0; max-width: 100%; float: center;  margin-left: auto;
  margin-right: auto; float: center;  margin-left: auto;}
  }

.container {
background-color: white;
float: center;  
margin-left: auto;
margin-right: auto;

text-align: center;
padding-top:1em;
-webkit-transform: translateZ(0);
}

.content {
margin-top: 0; float: center;  margin-left: auto;  margin-right: auto;
max-width: 100%; height:auto;
padding-top :15px; padding-bottom :15px;}

.box-contenu {
display:block;
background-color:white;
max-width: 100%;
height:auto;
float: center;  margin-left: auto;  margin-right: auto;
}

.box-folio{	display:flex;  flex-direction: row; flex-wrap : wrap; justify-content: center; align-items: flex-start; margin-top: 0; max-width:100%; height: auto; float: center;  margin-left: auto;
  margin-right: auto; float: center;  margin-left: auto; padding : 1em; background-color:white;  
}

.folio-gauche{flex-basis:30%; color:#14EEDD;}
.folio-droite{flex:1; display:flex; flex-direction: row; flex-wrap : wrap; justify-content: flex-start; align-items: flex-start; margin-left:8px; background-color:white; text-align:left;
	
}
	
.box-services {	display:flex;  flex-direction: row; flex-wrap : wrap; justify-content: stretch; align-items: flex-start; margin-top: 0; max-width:100%; height: auto; float: center;  margin-left: auto;
  margin-right: auto; float: center;  margin-left: auto; padding : 1em; background-color:white;  
  }
  
  .imgfolio{flex-basis : 30%; background-color:blue; margin-bottom:1em; margin-right: 0.5em; float:center;}
  
 .work {
    margin: 20px 0;
}

.work figure {
    float: left;
    
      background: #9d2e2c;
    line-height: 200px;
    
    position: relative;
    padding: 0 !important;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);   
     transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
}

.work figure a img {
    height: 100%;
    width: 100%;
}

.work figure dl {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    margin: 0;
    line-height: 2.5; 
    background: rgba(0, 21, 26, 0.8);
    color: white;
     
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
}

.work figure:hover dl {
    opacity: 1;
	
}

.work figure dl dt {
    font-size: 1em;
    margin-bottom: -16px;
}
.work figure dl dd {
    margin-left: 0;
}

  